body{
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  font-family: 'Montserrat' , sans-serif;
  overflow-x: hidden;
  flex-wrap: wrap;
}

h1, button{
  color: white;
}

#entries{
  position: absolute;
  top: 0px;
  right: 0px;
}

.left{
  background: #4b6cb7;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
box-shadow: 0px 0px 10px #888888;
}

.mid{
  text-align: center;
}

.mid img{
  -webkit-filter: invert(); /* Safari 6.0 - 9.0 */
    filter: invert();
}

.mid button{
  padding: 16px;
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #182848, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #182848, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 0px solid black;
  border-radius: 5px;
  font-size: 36px;
}

.mid button:hover{
  background: #4b6cb7;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, black, #4b6cb7);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, black, #4b6cb7); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.m{
  flex: 1;
  min-width: 500px;
}

img{
  height: auto;
  width: 100%;
  padding: 5vh 6vw;
  
}

h1, button{
  margin: 0vh 0vw 20vh 0vw;
  text-align: center;
}
