<div class="left m">
  <img src="../assets/images/Shaastra.png">
  <h1>PRESENTS</h1>
  
</div>

<div class="mid m">
  <img src="../assets/images/Summit.png">
  <button ng-click="mainCtrl.register()">REGISTER NOW</button>
  <br/>
  <button ng-click="mainCtrl.openBrochure()">Participant Brochure</button>
  <br/>
  <button ng-click="mainCtrl.openPS()">Problem Statement</button>
</div>

<button class="btn btn-info" id="entries" ng-show="mainCtrl.isAdmin()" ng-click="mainCtrl.entries()">Entries</button>