<div class="container" ng-show="entriesCtrl.isAdmin()" style="margin: auto;">
	<h1 style="color: black; margin: 5px 5px 5px 10px;">Registrations</h1>
	<button class="btn btn-default" ng-click="entriesCtrl.exp();"> Export as .csv file </button>
	<br>
	<br>
	<table>
		<tr>
			<th>Team Name</th>
			<th>Summit ID</th>
			<th>College</th>
			<th>Stream</th>
			<th>Name</th>
			<th>Email</th>
			<th>Mobile No</th>
			<th>Sub Category</th>
			<th>Experience</th>
			<th>Resume</th>
		</tr>
		<tr ng-repeat='row in entriesCtrl.mem'>
			<td class="main">{{row.team_name}}</td>
			<td class="main">{{row.summitID}}</td>
			<td class="main">{{row.insti}}</td>
			<td class="main">{{row.stream}}</td>
			<td class="main">
				<table>
					<tr ng-repeat="member in row.member_names">
						<td>{{member}}</td>
					</tr>
				</table>
			</td>
			<td class="main">
				<table>
					<tr ng-repeat="member in row.member_emails">
						<td>{{member}}</td>
					</tr>
				</table>
			</td>
			<td class="main">
				{{row.mobile_no}}<br/>{{row.alt_mobno}}
			</td>
			<td class="main">
				{{row.q1_ans}}
			</td>
			<td class="main">
				{{row.q2_ans}}
			</td>
			<td class="main">
       <button class="btn btn-primary" ng-click="entriesCtrl.download(row.resume,row.summitID)">Click here to download resume (as summitID.pdf)</button></td>
		</tr>
	</table>
</div>
