<form method="post" name="theform" novalidate>
  <div id="msform" ng-init="step=1">
    <fieldset ng-show="step==1">

      <h2 class="fs-title">Summit Registration Form</h2>
      <p>Registrations are closed for Rural Energy Challenge. The Green Energy Summit will be held at Shaastra 2018, IIT Madras from January 4 to January 7, 2018. You can register by filling this form. </p>
      <h3 class="fs-subtitle">Personal Details</h3>

      <div class="input-group" ng-class="{'has-error':!theform.Name.$valid && !theform.Name.$untouched,'has-success':theform.Name.$valid}" >
        <label class="control-label">Name *</label>
        <input type="text" name="Name" placeholder="Your Name" ng-required="true" ng-model="ctrl.newparticipant.name" class="form-control"/>
        <p class="help-block" ng-show="theform.Name.$error.required && theform.Name.$touched">This field is required</p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.insti.$valid && !theform.insti.$untouched,'has-success':theform.insti.$valid}" >
        <label class="control-label">Institution Name *</label>
        <input type="text" name="insti" ng-required="true" placeholder="Institution you are studying in" ng-model="ctrl.newparticipant.insti" class="form-control"/>
        <p class="help-block" ng-show="theform.insti.$error.required && theform.insti.$touched">This field is required</p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.stream.$valid && !theform.stream.$untouched,'has-success':theform.stream.$valid}"  >
        <label class="control-label">Field of Study *</label>
        <input type="text" class="form-control" name="stream" ng-required="true" placeholder="Engineering" ng-model="ctrl.newparticipant.stream" />
        <p class="help-block" ng-show="theform.stream.$error.required && theform.stream.$touched">This field is required</p>
      </div>

      <div class="input-group">
        <label class="control-label">Upload Document (in pdf only) *</label>
          <input class="form-control" ng-required="true" name="file" type="file" id="file" />
        <p class="help-block" style="color:rgb(217,83,79);font-size:13px;" id="errormsg" class="alert alert-danger"></p>
        <p class="help-block" ng-show="theform.file.$error.required && theform.file.$touched">This field is required</p>
      </div>

      <i class="glyphicon glyphicon-next" style="color: black"></i>
       <button  class="next action-button" ng-click="step=2" >Next Step <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

      <div style="color:rgb(217,83,79);font-size:13px;" >
        The fields marked with * are required
      </div>

    </fieldset>

    <fieldset ng-show="step==2">
      <h2 class="fs-title">Contact Details</h2>
      <div class="input-group has-feedback" ng-class="{'has-error':!theform.email.$valid && (theform.email.$dirty || theform.email.$touched),'has-success':theform.email.$valid}" >
        <label class="control-label">Email ID * </label>
        <input type="email" name="email" ng-required="true" ng-pattern="/^[A-Za-z0-9._-]+@[A-Za-z0-9.-]+\.[A-Za-z]{2,4}$/" class="form-control" placeholder="Enter your Email-id" ng-model="ctrl.newparticipant.email"/>
        <p class="help-block" ng-show="theform.email.$error.required && theform.email.$touched">This field is required</p>
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.email.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.email.$valid && (!theform.email.$pristine || theform.email.$touched)}">
        </div>
        <p class="help-block" ng-show="theform.email.$invalid && theform.email.$dirty">Please Enter a valid Email ID</p>
      </div>

      <div class="input-group has-feedback" ng-class="{'has-error':!theform.mobno.$valid && (theform.mobno.$dirty || theform.mobno.$touched),'has-success':theform.mobno.$valid}" >
        <label class="control-label">Mobile Number *</label>
        <input type="text" name="mobno" ng-required="true" class="form-control" ng-pattern="/^[0-9]{10}$/" placeholder="Your Mobile number" ng-model="ctrl.newparticipant.mobile_no" />

        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.mobno.$valid, 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.mobno.$valid && (!theform.mobno.$pristine || theform.mobno.$touched)}">
        </div>
        <p class="help-block" ng-show="theform.mobno.$error.required && theform.mobno.$touched">
          This field is required
        </p>
        <p class="help-block" ng-show="theform.mobno.$invalid && theform.mobno.$dirty">
            Enter a Valid Mobile No. thats is 10-Digit long
        </p>
      </div>

      <div class="input-group has-feedback" ng-class="{'has-error':!theform.alt_mobno.$valid && !theform.alt_mobno.$error.required,'has-success':theform.alt_mobno.$valid && theform.alt_mobno.$dirty}" >
        <label class="control-label">Alternative Mobile Number</label>
        <input type="text" name="alt_mobno"  ng-required="true" placeholder="Alternate Mobile number" class="form-control" ng-pattern="/^[0-9]{10}$/" ng-model="ctrl.newparticipant.alt_mobno" />
        <div ng-class="{'glyphicon glyphicon-ok form-control-feedback':theform.alt_mobno.$valid , 'glyphicon glyphicon-remove-sign form-control-feedback': !theform.alt_mobno.$valid && (!theform.alt_mobno.$pristine || theform.alt_mobno.$touched)}"></div>
        <p class="help-block" ng-show="!theform.alt_mobno.$error.required  && theform.alt_mobno.$invalid ">Enter a Valid Mobile No. thats is 10-Digit long</p>
      </div>

      <button type="button" class="previous action-button" value="Previous" ng-click="step=1">Prev Step <span class="glyphicon glyphicon-circle-arrow-left"></span></button>
      <button type="button"  class="next action-button" value="Next" ng-click="step=3">Next Step <span class="glyphicon glyphicon-circle-arrow-right"></span></button>

      <div style="color:rgb(217,83,79);font-size:13px" >
        The fields marked with * are required
      </div>

    </fieldset>

    <fieldset ng-show="step==3">
      <h3 class="fs-subtitle">Green Energy Summit 2018</h3>

      <div class="input-group" ng-class="{'has-error':!theform.work_upon.$valid && !theform.work_upon.$untouched,'has-success':theform.work_upon.$valid}" >
        <label class="control-label">“It’s not about ideas and policies. It’s about making them happen.” - Please share your views on this statement related to Green Energy. *</label>
        <textarea type="text" name="work_upon" ng-required="true" class="form-control" style="" ng-model="ctrl.newparticipant.q1_ans" rows="5" ></textarea>
        <p class="help-block" ng-show="theform.work_upon.$error.required && theform.work_upon.$touched">This field is required</p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.experience.$valid && !theform.experience.$untouched,'has-success':theform.experience.$valid}" >
        <label>Sustainable use of Energy is the need of the hour. Can Green Energy solve this pressing issue? Please share your perspectives here. *</label>
        <textarea type="text" name="experience" ng-required="true" class="form-control" rows="5" ng-model="ctrl.newparticipant.q2_ans" />
        <p class="help-block" ng-show="theform.experience.$error.required && theform.experience.$touched">This field is required</p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.take.$valid && !theform.take.$untouched,'has-success':theform.take.$valid}" >
        <label>What do you expect to take away from Green Energy Summit? * </label>
        <textarea type="text" name="take" ng-required="true" class="form-control" rows="5" ng-model="ctrl.newparticipant.q3_ans" />
        <p class="help-block" ng-show="theform.take.$error.required && theform.take.$touched">This field is required</p>
      </div>

      <div class="input-group" ng-class="{'has-error':!theform.q4.$valid && !theform.q4.$untouched,'has-success':theform.q4.$valid}" >
        <label>How did you find about Green Energy Summit? * </label>
        <br>
        <div style="width: 10px; float:left; margin:0;">
          <input id="option1" name="q4" type="radio" ng-value="1" ng-model="ctrl.newparticipant.q4_ans">
          <input id="option2" name="q4" type="radio" ng-value="2" ng-model="ctrl.newparticipant.q4_ans">
          <input id="option3" name="q4" type="radio" ng-value="3" ng-model="ctrl.newparticipant.q4_ans">
          <input id="option4" name="q4" type="radio" ng-value="4" ng-model="ctrl.newparticipant.q4_ans">
          <input id="option5" name="q4" type="radio" ng-value="5" ng-model="ctrl.newparticipant.q4_ans">
          <input id="option6" name="q4" type="radio" ng-value="6" ng-model="ctrl.newparticipant.q4_ans">
        </div>
        <div class="optionss">
          <label for="option1">Facebook/Twitter</label><br>
          <label for="option2">Mailout</label><br>
          <label for="option3">Poster</label><br>
          <label for="option4">Website</label><br>
          <label for="option5">Friends</label><br>
          <label for="option6">Others</label><br>
        </div>
        <p class="help-block" ng-show="theform.q4.$error.required && theform.q4.$touched">This field is required</p>

         <br><br>

        <p class="help-block" ng-show="theform.take.$error.required && theform.take.$touched">This field is required</p>
      </div>

      <button type="button" class="previous action-button" value="Previous" ng-click="step=2">Prev Step <span class="glyphicon glyphicon-circle-arrow-left"></span></button>
      <button name="Submit" ng-click="ctrl.submit()" class="submit action-button" value="submit" ng-disabled="theform.Name.$error.required || theform.file.$error.required|| theform.insti.$error.required || theform.stream.$error.required ||  theform.work_upon.$error.required || theform.email.$error.required || theform.$error.pattern || theform.experience.$error.required || theform.take.$error.required || theform.mobno.$error.required || theform.alt_mobno.$error.required || theform.email.$error.valid">Submit</button>

      <p style="color:rgb(217,83,79);font-size:13px" class="help-block" ng-show="theform.Name.$error.required || theform.file.$error.required|| theform.insti.$error.required || theform.stream.$error.required ||  theform.work_upon.$error.required || theform.email.$error.required || theform.$error.pattern || theform.experience.$error.required || theform.take.$error.required || theform.mobno.$error.required || theform.alt_mobno.$error.required || theform.email.$error.valid">The form can't be submitted as some required fields aren't filled</p>

      <p style="color:rgb(217,83,79);font-size:13px">The fields marked with * are required</p>

    </fieldset>

  </div>
</form>
